body,html{
    height: 100%;
    padding: 0;
    margin: 0;

}

body {
    font-family: sans-serif;
}
.nubes, .mapa {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.nubes {
    width: 457px;
    height: 453px ; 
}
.nubes img {
    position:relative;
    z-index:20;

}

.mapa{
    width: 400px;
    height: 400px;
    background: lightblue;
    border-radius: 50%; 
background: url(../img/2973091.jpg);
background-size: cover;

 -webkit-animation: tierra-girando 5s infinite linear;
}
@-webkit-keyframes tierra-girando {
    from {
        background-position: left center;
    }
    to {
        background-position: -200px center;
    }
    }
   
